In [1]:
import plotly
import plotly.plotly as py
import pandas as pd
from config import api_key
import json
from states_trans import states
from ploting_headmaps import main
import time

In [2]:
# Converting JSON to DataFrame sorted by 'Week' and 'state'
with open('plot_state_5_years.json') as plot_state_file:
   plot_state_dict = json.load(plot_state_file)
df_state = pd.DataFrame(plot_state_dict)
df_state = df_state.sort_values(by=['year','week', 'state'])
df_state

,flu_cases,flu_percent,state,vac_pct_week,vac_percent,vaccinations,week,year
0,238,1.301613,Alabama,0.116353,0.116353,544894,1,2012
52,27,2.705411,Alaska,0.088162,0.088162,49908,1,2012
104,132,1.007941,Arizona,0.248502,0.248502,427361,1,2012
156,14,0.573535,Arkansas,0.041088,0.041088,352902,1,2012
208,720,1.726577,California,0.469504,0.469504,2125008,1,2012
260,102,0.883040,Colorado,0.159177,0.159177,300294,1,2012
312,16,0.827301,Connecticut,0.159168,0.159168,332981,1,2012
364,5,0.359454,Delaware,0.442113,0.442113,118974,1,2012
416,0,0.000000,Florida,0.320519,0.320519,1668545,1,2012
468,261,1.105651,Georgia,0.232338,0.232338,725237,1,2012
520,201,3.577149,Hawaii,1.447210,1.447210,79947,1,2012
572,47,1.736239,Idaho,0.095865,0.095865,127263,1,2012
624,696,1.479592,Illinois,0.253466,0.253466,1318518,1,2012
676,69,0.943654,Indiana,0.125468,0.125468,648771,1,2012
728,13,0.996933,Iowa,0.112570,0.112570,348227,1,2012
780,50,0.870474,Kansas,0.104310,0.104310,278018,1,2012
832,21,0.471169,Kentucky,0.192089,0.192089,476863,1,2012
884,549,1.175262,Louisiana,0.145750,0.145750,402744,1,2012
936,45,1.411101,Maine,0.144855,0.144855,176729,1,2012
988,105,1.503652,Maryland,0.288060,0.288060,554052,1,2012
1040,195,1.230206,Massachusetts,0.269971,0.269971,663034,1,2012
1092,139,1.067097,Michigan,0.256343,0.256343,986180,1,2012
1144,34,1.185082,Minnesota,0.197386,0.197386,297894,1,2012
1196,469,1.398873,Mississippi,0.048872,0.048872,360126,1,2012
1248,101,1.506563,Missouri,0.098205,0.098205,591620,1,2012
1300,5,1.146789,Montana,0.029739,0.029739,117692,1,2012
1352,90,1.644436,Nebraska,0.076239,0.076239,188881,1,2012
1404,89,1.268348,Nevada,0.184236,0.184236,172605,1,2012
1456,13,1.344364,New Hampshire,0.171872,0.171872,161748,1,2012
1508,68,1.138266,New Jersey,0.295342,0.295342,877626,1,2012
...,...,...,...,...,...,...,...,...
13574,556,2.684434,Massachusetts,0.000000,51.753600,805960,25,2017
13599,178,1.093366,Michigan,0.000000,45.187000,1083679,25,2017
13624,133,2.595122,Minnesota,0.000000,48.725400,318066,25,2017
13649,429,1.460674,Mississippi,0.000000,39.651200,432867,25,2017
13674,76,1.308090,Missouri,0.000000,44.098300,681460,25,2017
13699,3,1.190476,Montana,0.000000,41.534300,147519,25,2017
13724,307,3.175424,Nebraska,0.000000,50.503200,248111,25,2017
13749,150,1.863354,Nevada,0.000000,37.405900,248792,25,2017
13774,24,1.662050,New Hampshire,0.000000,49.159000,209937,25,2017
13799,803,2.566889,New Jersey,0.000000,49.518300,991819,25,2017
13824,431,2.484007,New Mexico,0.000000,37.760100,212102,25,2017
13849,232,1.677877,New York,0.000000,47.500600,1662613,25,2017
13874,269,1.939577,North Carolina,0.000000,50.482500,1109150,25,2017
13899,5,0.736377,North Dakota,0.000000,49.417900,88306,25,2017
13924,210,2.040816,Ohio,0.000000,48.806800,1138065,25,2017
13949,157,1.487024,Oklahoma,0.000000,46.459700,500584,25,2017
13974,856,3.388220,Oregon,0.000000,42.784600,355724,25,2017
13999,1217,3.037716,Pennsylvania,0.000000,51.168000,1268381,25,2017
14024,110,3.299340,Rhode Island,0.000000,48.577500,88926,25,2017
14049,147,1.603403,South Carolina,0.000000,46.680800,646384,25,2017
14074,282,3.493991,South Dakota,0.000000,46.801500,113366,25,2017
14099,50,0.780884,Tennessee,0.000000,47.365200,697206,25,2017
14124,652,1.184356,Texas,0.000000,43.995400,2049013,25,2017
14149,290,3.910464,Utah,0.000000,47.448800,191377,25,2017
14174,171,4.187071,Vermont,0.000000,46.185300,108409,25,2017
14199,3205,3.130433,Virginia,0.000000,50.084400,967232,25,2017
14224,111,3.455791,Washington,0.000000,46.058900,726023,25,2017
14249,115,1.378236,West Virginia,0.000000,38.978100,263987,25,2017
14274,41,0.961088,Wisconsin,0.000000,52.013700,563576,25,2017
14299,138,3.496326,Wyoming,0.000000,41.956300,86509,25,2017

In [3]:
# Population of each state 2012 - 2017 (in thousands)
state_pop = pd.read_csv('STATE_POP.csv').T
state_pop = state_pop.rename(index=str, columns={0:'2012',1:'2013',2:'2014',3:'2015',4:'2016',5:'2017'})
state_pop.head()

                 2012       2013       2014       2015       2016       2017
Alabama      4813.946   4827.660   4840.037   4850.858   4860.545   4874.747
Alaska        730.825    736.760    736.759    737.979    741.522    739.795
Arizona      6544.211   6616.124   6706.435   6802.262   6908.642   7016.270
Arkansas     2949.208   2956.780   2964.800   2975.626   2988.231   3004.279
California  38019.006  38347.383  38701.278  39032.444  39296.476  39536.653

In [4]:
# plotting headmaps from 2013 to 2016
for year in range(2013,2017):
    df_state_year = main.per_year(df_state,state_pop, year)
    main.plot_heatmaps(df_state_year,year)
    time.sleep(20)