In [3]:
import plotly
import plotly.plotly as py
import pandas as pd
from config import api_key
import json
from states_trans import states

In [10]:
# Converting JSON to DataFrame sorted by 'Week' and 'state'
with open('plot_state.json') as plot_state_file:
   plot_state_dict = json.load(plot_state_file)
df_state = pd.DataFrame(plot_state_dict)
df_state = df_state.sort_values(by=['week', 'state'])
#df_state = df_state.loc[df_state['state']!="District of Columbia",:]
df_state.head()

      flu_cases  flu_percent       state  vac_percent  vaccinations  week
1347          0          0.0     Alabama     0.001551      543514.0   1.0
1200          0          0.0      Alaska     0.000646       75898.0   1.0
1550          0          0.0     Arizona     0.001086      609729.0   1.0
1449          0          0.0    Arkansas     0.000186      418858.0   1.0
1202          0          0.0  California     0.002571     2666921.0   1.0

In [24]:
#df_state.loc[df_state['state']=="Florida",:]

In [25]:
# df_plot = df_state.loc[df_state['week']>=10,:]
# df_plot = df_plot.loc[df_plot['week']<=25,:]
# df_plot.head(10)

In [28]:
# df_plot.loc[df_plot['state']=="Florida",:].head(10)

In [5]:
# Sum up all flu cases and flu percent in each state
df_grouped_flu = df_state.groupby(['state']).sum()
#df_grouped_vac = 
df_grouped_flu = df_grouped_flu[['flu_cases','flu_percent']]
df_grouped_flu.head()

            flu_cases  flu_percent
state
Alabama         55365     6.713758
Alaska           5429     0.658340
Arizona         16214     1.966168
Arkansas         5572     0.675681
California      34550     4.189656

In [ ]:
print(df_state.loc[:,['state','week']]

In [ ]:
# Accumulated Vaccination Rate and Cases in each state
df_grouped_vac = df_state.loc[df_state['week']==25,['vac_cases','vaccinations']]

In [6]:
# Creat a State Abrreviation table

#code = [states[i] for i in df_plot['state'].unique()]
state_name_df = pd.DataFrame({"state":df_state['state'].unique()})
state_name_df['code'] = [states[i] for i in state_name_df['state']]
state_name_df.head()

        state code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [8]:
# Add coresponding State code to grouped flu table
#abbrv = list(state_name_df['code'])
df_grouped_flu['code'] = list(state_name_df['code'])
df_grouped_flu['code'] =df_grouped_flu['code'].astype(str)
df_grouped_flu.head(10)

             flu_cases  flu_percent code
state
Alabama          55365     6.713758   AL
Alaska            5429     0.658340   AK
Arizona          16214     1.966168   AZ
Arkansas          5572     0.675681   AR
California       34550     4.189656   CA
Colorado         10952     1.328078   CO
Connecticut       3435     0.416540   CT
Delaware           815     0.098830   DE
Florida              0     0.000000   FL
Georgia          73206     8.877221   GA

In [36]:

# API key to 'Plotly'

plotly.tools.set_credentials_file(username='zhan656', api_key=api_key)

In [10]:
# Converting each Column name to tring type
for col in df_grouped_flu.columns:
    df_grouped_flu[col] = df_grouped_flu[col].astype(str)

In [11]:
# set color scale in heatmap
scl = [[0.0, 'rgb(230, 243, 255)'],[0.2, 'rgb(179, 218, 255)'],[0.4, 'rgb(102, 181, 255)'],\
            [0.6, 'rgb(26, 144, 255)'],[0.8, 'rgb(0, 105, 204)'],[1.0, 'rgb(0, 66, 128)']]

In [12]:
# df['text'] = df['state'] + '<br>' +\
#     'Beef '+df['beef']+' Dairy '+df['dairy']+'<br>'+\
#     'Fruits '+df['total fruits']+' Veggies ' + df['total veggies']+'<br>'+\
#     'Wheat '+df['wheat']+' Corn '+df['corn']

In [13]:
df_grouped['flu_text'] = df_grouped['code'] + '<br>' +\
                    "Flu Percentage" + df_grouped['flu_percent'] + '<br>' +\
                    "Flu Cases" + df_grouped['flu_cases']

In [17]:
data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df_grouped['code'],
        z = df_grouped['flu_percent'].astype(float),
        locationmode = 'USA-states',
        text = df_grouped['flu_text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Flu Percentage")
        ) ]

In [18]:
layout = dict(
        title = 'Flu Percentage by State Heatmap',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )

In [19]:
fig = dict( data=data, layout=layout )
url = py.plot( fig, filename='d3-cloropleth-map')