In [1]:
import plotly
import plotly.plotly as py
import pandas as pd
from config import api_key
import json
from states_trans import states

In [2]:
# Converting JSON to DataFrame sorted by 'Week' and 'state'
with open('plot_state.json') as plot_state_file:
   plot_state_dict = json.load(plot_state_file)
df_state = pd.DataFrame(plot_state_dict)
df_state = df_state.sort_values(by=['week', 'state'])
#df_state = df_state.loc[df_state['state']!="District of Columbia",:]
df_state.head()

      flu_cases  flu_percent       state  vac_percent  vaccinations  week
1347          0          0.0     Alabama     0.001551      543514.0   1.0
1200          0          0.0      Alaska     0.000646       75898.0   1.0
1550          0          0.0     Arizona     0.001086      609729.0   1.0
1449          0          0.0    Arkansas     0.000186      418858.0   1.0
1202          0          0.0  California     0.002571     2666921.0   1.0

In [3]:
#df_state.loc[df_state['state']=="Alabama",:]

In [4]:
# df_plot = df_state.loc[df_state['week']>=10,:]
# df_plot = df_plot.loc[df_plot['week']<=25,:]
# df_plot.head(10)

In [5]:
# df_plot.loc[df_plot['state']=="Florida",:].head(10)

In [8]:
# Sum up all flu cases and flu percent in each state
df_grouped_flu = df_state.groupby(['state']).sum()
#df_grouped_vac = 
df_grouped_flu = df_grouped_flu[['flu_cases','flu_percent']]
df_grouped_flu.head()

            flu_cases  flu_percent
state
Alabama         55365     6.713758
Alaska           5429     0.658340
Arizona         16214     1.966168
Arkansas         5572     0.675681
California      34550     4.189656

In [16]:
# df_grouped_flu['flu_cases'].sum()

814941

In [9]:
# Accumulated Vaccination Rate and Cases in each state
df_grouped_vac = df_state.loc[df_state['week']==25,['state','vac_percent','vaccinations']]
df_grouped_vac.head()

          state  vac_percent  vaccinations
924     Alabama     0.391399      543514.0
925      Alaska     0.330615       75898.0
926     Arizona     0.455000      609729.0
927    Arkansas     0.436253      418858.0
928  California     0.414922     2666921.0

In [10]:
# Creat a State Abrreviation table

#code = [states[i] for i in df_plot['state'].unique()]
state_name_df = pd.DataFrame({"state":df_state['state'].unique()})
state_name_df['code'] = [states[i] for i in state_name_df['state']]
state_name_df.head()

        state code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [11]:
# Add coresponding State code to grouped flu table
#abbrv = list(state_name_df['code'])
df_grouped_flu['code'] = list(state_name_df['code'])
df_grouped_flu['code'] =df_grouped_flu['code'].astype(str)
df_grouped_flu.tail(10)

               flu_cases  flu_percent code
state
South Dakota        7771     0.942339   SD
Tennessee           6350     0.770024   TN
Texas              54381     6.594434   TX
Utah                7126     0.864124   UT
Vermont             3913     0.474504   VT
Virginia           99177    12.026557   VA
Washington          3099     0.375796   WA
West Virginia       8111     0.983569   WV
Wisconsin           4125     0.500212   WI
Wyoming             3758     0.455709   WY

In [12]:
# Add coresponding State code to grouped flu table
df_grouped_vac['code'] = list(state_name_df['code'])
df_grouped_vac['code'] = df_grouped_vac['code'].astype(str)
df_grouped_vac.head(10)

           state  vac_percent  vaccinations code
924      Alabama     0.391399      543514.0   AL
925       Alaska     0.330615       75898.0   AK
926      Arizona     0.455000      609729.0   AZ
927     Arkansas     0.436253      418858.0   AR
928   California     0.414922     2666921.0   CA
929     Colorado     0.477114      421880.0   CO
930  Connecticut     0.537575      381361.0   CT
931     Delaware     0.542855      150228.0   DE
932      Florida     0.429383     2057192.0   FL
933      Georgia     0.428448      846313.0   GA

In [13]:
pd_flu_vac = pd.merge(df_grouped_vac, df_grouped_flu, on="code")
pd_flu_vac

             state  vac_percent  vaccinations code  flu_cases  flu_percent
0          Alabama     0.391399      543514.0   AL      55365     6.713758
1           Alaska     0.330615       75898.0   AK       5429     0.658340
2          Arizona     0.455000      609729.0   AZ      16214     1.966168
3         Arkansas     0.436253      418858.0   AR       5572     0.675681
4       California     0.414922     2666921.0   CA      34550     4.189656
5         Colorado     0.477114      421880.0   CO      10952     1.328078
6      Connecticut     0.537575      381361.0   CT       3435     0.416540
7         Delaware     0.542855      150228.0   DE        815     0.098830
8          Florida     0.429383     2057192.0   FL          0     0.000000
9          Georgia     0.428448      846313.0   GA      73206     8.877221
10          Hawaii     0.425407      102396.0   HI       1302     0.157885
11           Idaho     0.404020      179132.0   ID        539     0.065361
12        Illinois     0.467381     1358794.0   IL      35084     4.254411
13         Indiana     0.482086      762013.0   IN       4282     0.519251
14            Iowa     0.535187      432492.0   IA       1581     0.191718
15          Kansas     0.459352      372808.0   KS       9183     1.113563
16        Kentucky     0.428638      547480.0   KY      13987     1.696113
17       Louisiana     0.408658      470327.0   LA      75232     9.122901
18           Maine     0.440580      194959.0   ME        875     0.106106
19        Maryland     0.502540      711185.0   MD       4908     0.595162
20   Massachusetts     0.517536      805960.0   MA      20144     2.442733
21        Michigan     0.451870     1083679.0   MI      16060     1.947493
22       Minnesota     0.487254      318066.0   MN       4923     0.596980
23     Mississippi     0.396512      432867.0   MS      28610     3.469351
24        Missouri     0.440983      681460.0   MO       5661     0.686473
25         Montana     0.415343      147519.0   MT        249     0.030195
26        Nebraska     0.505032      248111.0   NE       9300     1.127751
27          Nevada     0.374059      248792.0   NV       7894     0.957254
28   New Hampshire     0.491590      209937.0   NH       1391     0.168678
29      New Jersey     0.495183      991819.0   NJ      30456     3.693203
30      New Mexico     0.377601      212102.0   NM      16920     2.051780
31        New York     0.475006     1662613.0   NY      13077     1.585764
32  North Carolina     0.504825     1109150.0   NC      13456     1.631722
33    North Dakota     0.494179       88306.0   ND        674     0.081732
34            Ohio     0.488068     1138065.0   OH      10013     1.214212
35        Oklahoma     0.464597      500584.0   OK      10401     1.261263
36          Oregon     0.427846      355724.0   OR      24362     2.954223
37    Pennsylvania     0.511680     1268381.0   PA      38783     4.702965
38    Rhode Island     0.485775       88926.0   RI       3224     0.390954
39  South Carolina     0.466808      646384.0   SC       9021     1.093919
40    South Dakota     0.468015      113366.0   SD       7771     0.942339
41       Tennessee     0.473652      697206.0   TN       6350     0.770024
42           Texas     0.439954     2049013.0   TX      54381     6.594434
43            Utah     0.474488      191377.0   UT       7126     0.864124
44         Vermont     0.461853      108409.0   VT       3913     0.474504
45        Virginia     0.500844      967232.0   VA      99177    12.026557
46      Washington     0.460589      726023.0   WA       3099     0.375796
47   West Virginia     0.389781      263987.0   WV       8111     0.983569
48       Wisconsin     0.520137      563576.0   WI       4125     0.500212
49         Wyoming     0.419563       86509.0   WY       3758     0.455709

In [11]:

# API key to 'Plotly'

plotly.tools.set_credentials_file(username='zhan656', api_key=api_key)

In [12]:
# Converting each Column name in 'df_grouped_flu' to tring type
for col in df_grouped_flu.columns:
    df_grouped_flu[col] = df_grouped_flu[col].astype(str)

In [13]:
# Converting each Column name in 'df_grouped_vac' to tring type
for col in df_grouped_vac.columns:
    df_grouped_vac[col] = df_grouped_vac[col].astype(str)

In [14]:
# set color scale in heatmap
scl_flu = [[0.0, 'rgb(255, 230, 230)'],[0.1, 'rgb(255, 179, 179)'],[0.2, 'rgb(255, 128, 128)'],\
           [0.3, 'rgb(255, 77, 77)'],[0.4, 'rgb(255, 26, 26)'],[0.5, 'rgb(230, 0, 0)'],\
            [0.6, 'rgb(179, 0, 0)'],[0.7, 'rgb(153, 0, 0)'],[0.8, 'rgb(128, 0, 0)'],[0.9, 'rgb(102, 0, 0)'],\
           [1.0, 'rgb(51, 0, 0)']]

In [15]:
scl_vac = [[0.0, 'rgb(230, 247, 255)'],[0.1, 'rgb(179, 231, 255)'],[0.2, 'rgb(128, 215, 255)'],\
           [0.3, 'rgb(77, 198, 255)'],[0.4, 'rgb(26, 182, 255)'],[0.5, 'rgb(0, 157, 230)'],\
            [0.6, 'rgb(0, 139, 204)'],[0.7, 'rgb(0, 122, 179)'], [0.8, 'rgb(0, 105, 153)'],[0.9, 'rgb(0, 87, 128)'],\
           [1.0, 'rgb(0, 70, 102)']]

In [16]:
df_grouped_flu['flu_text'] = df_grouped_flu['code'] + '<br>' +\
                    "Flu Percentage: " + df_grouped_flu['flu_percent'] + '<br>' +\
                    "Flu Cases: " + df_grouped_flu['flu_cases']

In [17]:
df_grouped_vac['vac_text'] = df_grouped_vac['code'] + '<br>' +\
                    "Vaccination Percentage: " + df_grouped_vac['vac_percent'] + '<br>' +\
                    "Vaccination Cases: " + df_grouped_vac['vaccinations']

In [18]:
data_flu = [ dict(
        type='choropleth',
        colorscale = scl_flu,
        autocolorscale = False,
        locations = df_grouped_flu['code'],
        z = df_grouped_flu['flu_percent'].astype(float),
        locationmode = 'USA-states',
        text = df_grouped_flu['flu_text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Flu Percentage")
        ) ]

In [19]:
data_vac = [ dict(
        type='choropleth',
        colorscale = scl_vac,
        autocolorscale = False,
        locations = df_grouped_vac['code'],
        z = df_grouped_vac['vac_percent'].astype(float),
        locationmode = 'USA-states',
        text = df_grouped_vac['vac_text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 1
            ) ),
        colorbar = dict(
            title = "Vaccination Percentage")
        ) ]

In [20]:
layout_flu = dict(
        title = '<b>Flu Percentage by State Heatmap 2017 - 2018<b>',
        font = dict(size=18, color='rgb(0,0,0)'),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
       
             )

In [21]:
layout_vac = dict(
        title = '<b>Vaccination Percentage by State Heatmap 2017 - 2018<b>',
        font = dict(size=18, color='rgb(0,0,0)'),
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
        
)

In [22]:
fig_flu = dict( data=data_flu, layout=layout_flu )
url = py.plot( fig_flu, filename='flu_map (2017-2018)')

In [23]:
fig_vac = dict( data=data_vac, layout=layout_vac)
url = py.plot( fig_vac, filename='vac_map (2017-2018)')